<div class="ui container">
<h1>报警监控</h1>
<iframe src="{{alertPanelURL}}" frameborder="0" width="100%" height="280px"></iframe>
<h1>解决方案</h1>
<iframe src="{{openKBURL}}" frameborder="0" width="100%" height="500px"></iframe>
</div>